<article class="container col-12">
  <h2 class="title text-center">Edit Post</h2><hr>
  <form class="edit-post-form">
    <div>
      <label class="form-label" for="form-label">Blog Title</label>
      <input class="form-control" name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div class="mt-3">
      <label class="form-label" for="form-label">Blog Content</label>
      <textarea class="form-control" name="post-content" type="text">{{post.post_text}}</textarea>
    </div>
    <div class="mt-3 mb-3 col-12">
       Created By You On {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comment.length}} {{format_plural "comment" post.comment.length}}</a>
    </div>
    <button type="submit" class="btn btn-secondary col-12">Save</button>
    <button type="button" class="btn btn-primary delete-post-btn col-12 mt-3">Delete</button>
  </form>
</article>

{{> comments post.comments}}

<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>
<script src="/js/comment.js"></script>